footer {
    background-color: #fff;
    position: relative;
    z-index: 12;
    padding: 1rem;
    margin-top: 1rem;
    .contener {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #0000001a;
        padding-bottom: 16px;

        h3 {
            color: #1D4ED8;
            font-size: 24px;
            font-weight: 700;
        }

        .logo {
            display: flex;
            gap: 10px;
            margin-bottom: 1rem;

            img {
                width: 45px;
            }

            h3 {
                color: #000000;
            }
        }
    }

    .foot {
        padding-top: 1rem;

        p {
            color: #6b7280;
        }
    }

}

@media screen and (min-width: 639px) {
    footer {
        padding: 2rem;

        .contener {
            flex-direction: row;
            justify-content: space-between;
        }

        .foot {
            padding-top: 2rem;
            text-align: center;

            p {
                color: #6b7280;
            }
        }

    }
}

@media screen and (min-width: 1280px) {
    footer {
        .contener {
            max-width: 1280px;
            margin: 0 auto;
        }
    }
}